<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasicIncidentsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BasicIncidentsApp.Properties.Settings>
            <setting name="SERVER" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>user1</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>user1</value>
            </setting>
            <setting name="PROTOCOL" serializeAs="String">
                <value>http</value>
            </setting>
        </BasicIncidentsApp.Properties.Settings>
    </userSettings>
</configuration>