<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UICDS_Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UICDS_Services.Properties.Settings>
            <setting name="UICDS_Services_IncidentManagementService_IncidentManagementServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/IncidentManagementService</value>
            </setting>
            <setting name="UICDS_Services_ResourceProfileService_ResourceProfileServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/ResourceProfileService</value>
            </setting>
            <setting name="UICDS_Services_ResourceInstanceService_ResourceInstanceServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/ResourceInstanceService</value>
            </setting>
            <setting name="UICDS_Services_DirectoryService_DirectoryServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/DirectoryService</value>
            </setting>
            <setting name="UICDS_Services_MapService_MapServiceService" serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/MapService</value>
            </setting>
            <setting name="UICDS_Services_AgreementService_AgreementServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/AgreementService</value>
            </setting>
            <setting name="UICDS_Services_AlertService_AlertServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/AlertService</value>
            </setting>
            <setting name="UICDS_Services_BroadcastService_BroadcastServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/BroadcastService</value>
            </setting>
            <setting name="UICDS_Services_IAPService_IAPServiceService" serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/IAPService</value>
            </setting>
            <setting name="UICDS_Services_IncidentCommandService_IncidentCommandServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/IncidentCommandService</value>
            </setting>
            <setting name="UICDS_Services_LEITSCService_LEITSCServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/LEITSCService</value>
            </setting>
            <setting name="UICDS_Services_LoggingService_LoggingServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/LoggingService</value>
            </setting>
            <setting name="UICDS_Services_NotificationService_NotificationServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/NotificationService</value>
            </setting>
            <setting name="UICDS_Services_SensorService_SensorServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/SensorSerivce</value>
            </setting>
            <setting name="UICDS_Services_TaskingService_TaskingServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/Services/TaskingService</value>
            </setting>
            <setting name="UICDS_Services_WorkProductService_WorkProductServiceService"
                serializeAs="String">
                <value>http://localhost:80/uicds/core/ws/services/WorkProductService</value>
            </setting>
        </UICDS_Services.Properties.Settings>
    </applicationSettings>
</configuration>